*{
    margin: 0;
    padding: 0;
    font-family:'Poppins' , sans-serif;
}

header{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    align-items: center;
}

.logo{
    text-decoration: none;
    letter-spacing: 4px;
    color: black;
    padding: 8px 16px;
}

.logo:hover{
    background-color: #ddd;
}

.nav-menu{
    list-style: none;
    display: flex;
}

.nav-menu li a{
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    padding: 8px 16px;
}


.nav-menu li a:hover{
    background-color: #ddd;
}


/* main section */

main{
    max-width: 1100px;
    margin: 0   auto;
}

/* hero section */

.hero{
    position: relative;
}

.hero-img{
    width: 100%;
    height: 600px;
}


.hero-content{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-wrap: nowrap;

}


.hero h2{
    font-size: 50px;
    background-color: rgba(255,255,255,0.3);
    padding: 10px 20px;
}