*{
    margin: 0;
    padding: 0;
    font-family:'Poppins' , sans-serif;
}

header{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    align-items: center;
}

.logo{
    text-decoration: none;
    letter-spacing: 4px;
    color: black;
    padding: 8px 16px;
}

.logo:hover{
    background-color: #ddd;
}

.nav-menu{
    list-style: none;
    display: flex;
}

.nav-menu li a{
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    padding: 8px 16px;
}


.nav-menu li a:hover{
    background-color: #ddd;
}