*{
    margin: 0;
    padding: 0;
    font-family:'Poppins' , sans-serif;
}

header{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    align-items: center;
}

.logo{
    text-decoration: none;
    letter-spacing: 4px;
    color: black;
    padding: 8px 16px;
}

.logo:hover{
    background-color: #ddd;
}

.nav-menu{
    list-style: none;
    display: flex;
}

.nav-menu li a{
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    padding: 8px 16px;
}


.nav-menu li a:hover{
    background-color: #ddd;
}


/* main section */

main{
    max-width: 1100px;
    margin: 0   auto;
}

/* hero section */

.hero{
    position: relative;
}

.hero-img{
    width: 100%;
    height: 600px;
}


.hero-content{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-wrap: nowrap;

}


.hero h2{
    font-size: 50px;
    background-color: rgba(255,255,255,0.3);
    padding: 10px 20px;
}

/* Service Section */
.services{
    padding: 30px 0;
}

.services h2{
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
}

.service-cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.card{
    background-color: white;
    border: 1px solid #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-10px);
}

/* about section */
.about{
    padding: 30px 0;
}

.about h2{
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
}

.about p{
    font-size: 18px;
    margin: 30px 0;
}

.about-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    filter: grayscale(75%);
}

.about-img{
    width: 100%;
    aspect-ratio: 1;
}

.about-card h3{
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
}

.about-card p:first-of-type{
    margin: 10px 0;
    opacity: 0.6;
}

.about-card p:nth-of-type(2){
    margin: 10px 0;
}

.about-card button{
    background-color: #f1f1f1;
    width: 100%;
    padding: 8px 16px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.about-card button:hover{
    background-color: #ddd;
}


/* contact section */
.contact{
    background-color: #f4f4f4;
    padding: 40px 0;
    margin-top: 20px;
}

.contact h2{
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

input, textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 18px;
}

.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.btn:hover{
    background-color: #ccc;
    color: black;
}